<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15388665741-q0dd7qs8va3mrh0kqhodmtf663pouvvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15388665741-q0dd7qs8va3mrh0kqhodmtf663pouvvd</string>
	<key>API_KEY</key>
	<string>AIzaSyAGdoNxWfb6qq-1zCbiv_zbWFiBVpDItws</string>
	<key>GCM_SENDER_ID</key>
	<string>15388665741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.To.Do.List</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-6acb0</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-6acb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15388665741:ios:9a896f387681c7523b3fc4</string>
</dict>
</plist>